*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100vh;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    background-color: rgba(0,0,255,0.5);
    font-family: 'Ubuntu', sans-serif;
}


header
{
    position: sticky;
    top: 0px;
    border-bottom: 5px solid black;
    background-color: lightgrey;
}


#Logo_Left_Head, #Logo_Right_Head, #Title_Head, #MainMenu_BLP, #MainMenu_BAM
{
    display: inline-block;
}


#Logo_Left_Head, #Logo_Right_Head
{
    width: 2.5%;
    height: 4%;
    min-width: 40px;
    min-height: 25px;
}

#MainMenu_BLP, MainMenu_BAM
{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 1px 5px;
    min-width:100px;
    width: 5%;
}


#MainMenu_BLP:hover, #MainManu_BAM:hover
{
    background-color: grey;
    color: white;
}                                                                                                                         
