*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    background-image: url('MainPage_Background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-color: rgb(40, 60, 99);
}

#MainMenu_BLP
{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 1px 5px;
}


#MainMenu_BLP:hover
{
    background-color: grey;
    color: white;
}


#MainMenu_BLP
{
    position: absolute;
    width: 5%;
    right: 2.5%;
}


#Logo_Right, #Logo_Left
{
    position: absolute;
    width: 2.5%;
    height: 4%;
    min-width: 30px;
    min-height: 30px;
}


#Logo_Right
{
    right: 0px;
}


#Logo_Left
{
    left: 0px;
}                                                                                                                             