*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    background-image: url('MainPage_Background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-color: rgb(40, 60, 99);
}

#Logo_Left_Head, #Logo_Right_Head
{
    width: 2.5%;
    height: 4%;
    min-width: 40px;
    min-height: 25px;
}

#MainMenu_BLP
{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 1px 5px;
    min-width:100px;
}


#MainMenu_BLP:hover
{
    background-color: grey;
    color: white;
}


#MainMenu_BLP
{
    width: 5%;
    right: 2.5%;
}
                                                                                                                          
