*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body
{
    background-color: rgba(130,130,130,1);
    background-image: url('../Assets/LoginPage_Background.gif');
}


header
{
    top: 0px;
    border-bottom: 5px solid black;
    background-color: lightgrey;
}


#Logo_Left_Head, #Logo_Right_Head, #Title_Head, #SignUp_BMP
{
    display: inline-block;
}


#Logo_Left_Head, #Logo_Right_Head
{
    width: 2.5%;
    height: 4%;
    min-width: 40px;
    min-height: 25px;
}



#SignUp_BMP,#SignUp_BLP
{
    position: relative;
    width: 8%;
    left: 0%;
    background-color: lightgrey;
}


header h6
{
    font-size: 1.5vh;
}


main
{
    background-color: rgba(0,0,255,0.5);
    border: 5px black solid;
    border-radius: 75px;
    width: 25%;
    min-width:400px;
    height:50vh;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}


main .SignUpMenu
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;	
}


main h1
{
    font-family: 'Ubuntu', sans-serif;
    text-align: center; 
}


.Password,.UserName,.Phone,.Email
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


main #SignUp_Username,#SignUp_Password,#SignUp_Submit_Button,#Password_Info,#SignUp_BMP,#SignUp_Email,#SignUp_Phone,#SignUp_BLP
{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 1px 5px;
}

#Password_Info
{
    opacity: 0.7;
}

main .SignUp_Submit
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


#Logo_Left, #Logo_Right
{
    width: 2.5%;
    height: 4%;
    min-width: 40px;
    min-height: 25px;
}


#SignUp_Submit_Button:hover, #SignUp_BMP:hover, #SignUp_BLP:hover
{
    background-color: grey;
    color: white;
}


#SignUp_Submit_Button:active
{
    transform: translateY(2px);
}
