*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body
{
    background-color: rgba(130,130,130,1);
    background-image: url('LoginPage_Background.gif');
}


header 
{
    background-color: rgba(0,0,255,0.5);
    border: 3px Black solid;
}


header #Login_BMP
{
    position: relative;
    width: 8%;
    left: 0%;
    background-color: lightgrey;
}


header h6
{
    font-size: 1.5vh;
}


main
{
    background-color: rgba(0,0,255,0.5);
    border: 5px black solid;
    border-radius: 75px;
    width: 25%;
    min-width:400px;
    height:45vh;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}


main .LogInMenu
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;	
}


main h1
{
    font-family: 'Ubuntu', sans-serif;
    text-align: center; 
}


main .UserName
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


main .Password
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


main #Login_Username,#Login_Password,#Login_Submit_Button,#Password_Info,#Login_BMP
{
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 1px 5px;
}

#Password_Info
{
    opacity: 0.7;
}

main .Login_Submit
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


#Login_Submit_Button:hover, #Login_BMP:hover
{
    background-color: grey;
    color: white;
}


#Login_Submit_Button:active
{
    transform: translateY(2px);
}
